SITE_URL=https://blog.gntechlabs.me
PUBLIC_CLOUDFLARE_WEB_ANALYTICS_TOKEN=
PUBLIC_GISCUS_REPO=gntech-dev/gntech-tech-blog
PUBLIC_GISCUS_REPO_ID=R_kgDOSnmBXA
PUBLIC_GISCUS_CATEGORY=General
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOSnmBXM4C906T
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET=
GITHUB_TOKEN=
